<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    
    <script type="text/javascript" src="/static/raphael-min.js"></script>
    <script type="text/javascript" src="/static/foo.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/bar.css"/>
  </head>
  <body>
    <div id="sidebar">
          <div id="height">
          </div>
    </div>

    <div id="holder">
    <div id="details">
        {{ user["email"] }}
    </div>
  </body>
</html>
