<html>
  <head>
    <title>VisBox</title>
    <script>
      console.log({{ data|safe }})
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    
    <script type="text/javascript" src="/static/raphael-min.js"></script>
    <script type="text/javascript" src="/static/foo.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,700,600,300,800' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="/static/bar.css"/>
  </head>
  <body>
    <div id="sidebar">
      <h1>Browse Files</h1>
        <div id="height">

          <div id="tree">
             

          </div>

        </div>
    </div>

    <div id="holder">
    <div id="details">
      <strong>size</strong>: <span id="size">0</span><br>
      <strong>modified</strong>: <span id="modified">--/--/----</span><br>

    </div>

    <div id="userinfo"></div>
  </body>
</html>
