<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  </head>
  <body>
    <form action="/share" method="get">
      Search: <input type="text" name="search"/>
      <input type="submit" value="Go!"/><br/>
    </form>
    <a href='/share/'>All</a>
    <a href='/share/image'>Images</a>
    <a href='/share/audio'>Songs</a>
    <a href='/share/docs'>Documents</a><br/><br/>

{% for file_ in files %}
  {% if file_['type'] == 'image' %}
      <img src="{{helper.get_public_file_url(file_)}}" height="200"/><br/>
    <p>{{helper.strip_public_header(file_['path'])}}</p>
  {% elif file_['type'] == 'audio' %}
      <audio controls="controls">
      <source src="{{helper.get_public_file_url(file_)}}" type="{{file_['mime_type']}}"/>
      </audio>
      <br/>
    <p>{{helper.strip_public_header(file_['path'])}}</p>
  {% endif %}
{% endfor %}
  </body>
</html>
