<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  </head>
  <body>
    <form action="/share" method="get">
      Search: <input type="text" name="search"/>
      <input type="submit" value="Go!"/><br/>
    </form>
    <a href='/share/'>All</a>
    <a href='/share/image'>Images</a>
    <a href='/share/audio'>Songs</a>
    <a href='/share/docs'>Documents</a><br/><br/>

{% for file_ in files %}
  {% if file_['type'] == 'image' %}
      <img src="http://dl.dropbox.com/u/{{file_['owner_id']}}/{{file_['filename']}}" height="200"/><br/>
      <p>{{file_['filename']}}</p>
  {% elif file_['type'] == 'audio' %}
      <audio controls="controls">
	<source src="https://dl.dropbox.com/u/{{file_['owner_id']}}/{{file_['filename']}}" type="{{file_['mime_type']}}"/>
      </audio>
      <br/>
    <p>{{file_['filename']}}</p>
  {% endif %}
{% endfor %}
  </body>
</html>
